<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>MTurk Task</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>

</style>
</meta>
<style>
label.error {
	color: red;
}
</style>
</head>
<body>
<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script src="http://people.csail.mit.edu/msbernst/mturk/jquery.validate.min.js"></script>
<script>

function setCookie(name, value, days, path, domain, secure) {
	if (days) {
		var date = new Date();
		date.setTime(date.getTime()+(days*24*60*60*1000));
		var expires = date
	}
  var curCookie = name + "=" + escape(value) +
      ((expires) ? "; expires=" + expires.toGMTString() : "") +
      ((path) ? "; path=" + path : "") +
      ((domain) ? "; domain=" + domain : "") +
      ((secure) ? "; secure" : "");
  document.cookie = curCookie;
}
function getCookie(name) {
  var dc = document.cookie;
  var prefix = name + "=";
  var begin = dc.indexOf("; " + prefix);
  if (begin == -1) {
    begin = dc.indexOf(prefix);
    if (begin != 0) return null;
  } else
    begin += 2;
  var end = document.cookie.indexOf(";", begin);
  if (end == -1)
    end = dc.length;
  return unescape(dc.substring(begin + prefix.length, end));
}
var random_index = 0
function random() {
	var href = document.location.href
	var key = href.substring(0, href.indexOf("?")) + "." + random_index++
	var c = getCookie(key)
	if (c) return parseFloat(c)
	c = Math.random()
	setCookie(key, c)
	return c
}

function unescapeURL(s) {
    return decodeURIComponent(s.replace(/\+/g, "%20"))
}

function getURLParams() {
    var params = {}
    var m = window.location.href.match(/[\\?&]([^=]+)=([^&#]*)/g)
    if (m) {
        for (var i = 0; i < m.length; i++) {
            var a = m[i].match(/.([^=]+)=(.*)/)
            params[unescapeURL(a[1])] = unescapeURL(a[2])
        }
    }
    return params
}

function swap(o, i1, i2) {
    var temp = o[i1]
    o[i1] = o[i2]
    o[i2] = temp
}

function shuffle(a) {
    for (var i = 0; i < a.length; i++) {
        swap(a, i, randomIndex(a.length))
    }
    return a
}

function randomIndex(n) {
    return Math.floor(random() * n)
}

$(function () {
    var params = getURLParams()
    if (params.workerId && (-1 != "___BLOCK_WORKERS___".indexOf(params.workerId))) {
    	$('body').empty().append('<h2>Please return this HIT</h2><p>You have done nothing wrong. This HIT is voting on the quality of some of the work you did previously for us.  Don\'t worry, you still got paid.  But, we don\'t want to bias our votes, and we want to ensure that a variety of people work on the job. You may still be able to participate in future HITs in this process.</p><p><small>NOTE: This message is a temporary fix; we hope that Mechanical Turk itself will allow us to hide particular HITs from specific workers, so that they do not show up under "HITs Available To You".</small></p><p><b>Sorry for the inconvenience.</b></p>')    	
    	return
    }
    if (params.assignmentId) {
        if (params.assignmentId == "ASSIGNMENT_ID_NOT_AVAILABLE") {
            $('input').attr("disabled", "true")
            $('textarea').attr("disabled", "true")
            $('button').attr("disabled", "true")
        } else {
        	if ($('*[name]').length < 2) {
        		$('input[type=submit]').attr('name', 'submit')
        	}
        	if ($('*[name]').length < 2) {
        		$('#assignmentId').after('<input type="hidden" name="default" value="default"></input>')
        	}
        }
        $('#assignmentId').attr('value', params.assignmentId)
        $('form').attr('method', 'POST')
    }
    if (params.turkSubmitTo) {
        $('form').attr('action', params.turkSubmitTo + '/mturk/externalSubmit')
    }
    
    // randomly permute the locations of all elements of class "random"
    var r = $('.random')
    $(shuffle(r.after('<div/>').next().get())).each(function (i) {
        $(this).after(r[i]).remove()
    })
    
    // add a form-validation function to the submit buttons
    // ___FORM_VALIDATOR___
})

$(document).ready( function() {
	var input = $('.cuttable:first');
	if (Math.random() > .5) {
		input.clone().appendTo($('#votes'));
		input.remove();
	}
	$('.cuttable').css('visibility', 'visible');

$.validator.addMethod("newText", function(value) {	
	var brackets = /\[\[(.*?)\]\]/g;
	return !brackets.test(value);
}, "Please do not use [[ and ]] to shorten the text -- edit it directly by removing unnecessary parts or rewriting it as necessary.");
	
    $('#fixform').validate( {
		debug: false,
		//errorElement: "div",
		//errorContainer: $("#errors"),
		//errorPlacement: function(error, element) {
		//		error.prependTo( $('#errors') );
		//},
		rules: {
			newText: "newText",
		}
	});	
	
	// log
	var params = getURLParams();
	var isPreview = (params.assignmentId == "ASSIGNMENT_ID_NOT_AVAILABLE") ? 1 : 0;
	if (params.assignmentId) {	// if it's a hit on either the sandbox or real MTurk, not just opened on the hard drive
		$.ajax( {
			url: 'http://people.csail.mit.edu/msbernst/dev/hitcounter/hit.php?page=cut&preview=' + isPreview,
			dataType: 'jsonp'
		});
	}	
});

</script>

<form id="fixform" action="." method="GET">
    <input type="hidden" name="assignmentId" id="assignmentId" value="temp"></input>
    <div>
		<p>The part of the paragraph <span style='background-color: yellow'>highlighted</span> below is too long.  Please edit the highlighted section to shorten its length without changing the meaning of the paragraph.</p>
		
		<p style="font-size: 10pt; font-family: monospace; width: 500px">___TEXT___</p>		

		<label for="newText"><div>Shorten or cut the highlighted text in the copy below:</div></label>
		<div><textarea id="newText" style="width:500px;height:125px" name="newText" class="required">___EDITABLE___</textarea></div>
		<br/><br/><br/>
		
		<label for='votes'><div>Can the highlighted section be entirely removed without making the text ungrammatical or changing the meaning of the paragraph?</div></label>
		<div id='votes'>
			<div class='cuttable'><input type="radio" name="cuttable" value="No" class="required" /> No</div>
			<div class='cuttable'><input type="radio" name="cuttable" value="Yes" /> Yes</div>
		</div>
</table>
		<input type="submit" value="Submit"></input>
	</div>
</form>

</body>
</html>
