<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>MTurk Task</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>
	label.error {
		display: none;
		color: red;
	}
</style>
</meta>
<style>

</style>
</head>
<body>
<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script src="http://people.csail.mit.edu/msbernst/mturk/jquery.validate.min.js"></script>
<script>
___HEADER_SCRIPT___

$(function () {	
	//$.metadata.setType("attr", "validate");

    $('#voteForm').validate( {
		//debug: true,
		rules: {
			reason: {
				required: true,
				minlength: 1
			},
			fix: {
				required: true,
				minlength: 1
			}			
		}
	});	
	
	randomizeClass($('.reason'));
	randomizeClass($('.fix'));	
});
</script>


<form id="voteForm" action="." method="GET">
    <input type="hidden" name="assignmentId" id="assignmentId" value="temp"></input>
    <input type="hidden" name="randomOrder" id="randomOrder" value="temp"></input>
    
    <div id="content" style="width:500px">
        <div>
			<p>Here is a sentence with a highlighted section that has a spelling, grammar, or style error in it:</p>
			<p style="font-size: 10pt; font-family: courier; width: 500px">___HIGHLIGHTED___</p>
		</div>
		
		<fieldset>
		<legend>Check at least one option that clearly and concisely describes the error:</legend>
		___REASON_VOTE___
		<label for="reason" class="error">Please select at least one description.</label>
		</fieldset>
		
		<fieldset>
		<legend>Check at least one rewrite which fixes the error and has excellent spelling, grammar, and style.</legend>
		___FIX_VOTE___
		<label for="fix" class="error">Please select at least one rewrite which fixes the error.</label>
		</fieldset>
		
        <input type="submit" value="Submit"></input>
    </div>
</form>

</body>
</html>
