<html>
<head>
<title>MTurk Task</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style>

</style>
</meta>
<style>

</style>
</head>
<body>
<script src="http://jqueryjs.googlecode.com/files/jquery-1.3.2.min.js"></script>
<script>
___HEADER_SCRIPT___
</script>

<form action="." method="GET">
    <input type="hidden" name="assignmentId" id="assignmentId" value="temp"></input>
	<div>
		<p>Other Mechanical Turkers think that the highlighted section of the paragraph below has a spelling, grammar or style error:<br/></p>
		
		<p style="font-family: monospace; width:500px;">___TEXT___</p>
		
		<p>Please describe the error briefly:</p>
		<div><input type="text" name="description" style="width: 250px" /></div>

		<p>Please fix the error:</p>
		<textarea style="width:500px;height:400px" name="newText">___EDITABLE___</textarea>
		<br/>
		<input type="submit" value="Submit"></input>
	</div>
</form>

</body>
</html>
